<div class="column is-one-quarter">
  <nav class="panel">
    <p class="panel-heading">New Tweeets</p>
      <a class="panel-block">
        Look at what people are tweeeting!
      </a>
      <a class="panel-block">
        Sign up or sign in to join the fun :)
      </a>
      

  </nav>
</div>