<div class="column" >
  <nav class="panel">
    <p class="panel-heading">Who else is tweeting?</p>
  <div class="panel-block">
    <article class="media">
      
      <div class="media-content">
        <div class="content">
          <p>
             <strong>David Bielik</strong><br />
							<small>@dbielik</small>
          </p>
        </div>
      </div>
    </article>
  </div>
  <div class="panel-block">
    <article class="media">
      
      <div class="media-content">
        <div class="content">
          <p>
            <strong>Lucy</strong><br />
            <small>@loosegoose37</small>
          </p>
        </div>
      </div>
    </article>
  </div>
  <div class="panel-block">
    <article class="media">
      
      <div class="media-content">
        <div class="content">
          <p>
            <strong>Adalaide</strong><br />
            <small>@missAdalaide44</small>
          </p>
        </div>
      </div>
    </article>
  </div>
  </nav>
</div>
